$dark-gray: #333333;
$gold: #D1A954;
$white: #FFFFFF;
$gray: #989898;
$gray-bkg: #808080;
$granite-gray: #616161;
$muted-gray: #444444;

$desktop-wide: 1110px;
$tablet: 768px;
$mobile:576px;

$font-family-condensed: 'Open Sans Condensed', sans-serif;
$font-family: 'Open Sans', sans-serif;