.critics-award {
    background-image: url(/img/critics-awadrs-bkg.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    .critics-award__year-item {
        font-family: $font-family-condensed;
        @include font-mixin(72px, 98px);
        text-transform: uppercase;
        color: $gold;
    }

    .critics-award__title {
        @include font-mixin(26px, 64px);
    }
}