.header {
    background: url('/img/header-bkg.jpg');
    border-color: $gray-bkg;

    .header__nav-link {
        text-transform: uppercase;
        @include font-mixin(17px, 25px);
    }

    .header__tel {
        @include font-mixin($line-height-param: 22px);
    }

    .header__title {
        @include font-mixin(64px, 87px);
        letter-spacing: 0.1em;
        text-transform: uppercase;
    }

    .header__desc {
        font-family: $font-family;
        @include font-mixin(14px, 21px 400);
    }

    .header__slider-btn{
        @include font-mixin(18px,24px);
        text-transform: uppercase;
        color: inherit;
        padding: 0;
        border: none;
        background: transparent;
    }

    .header__link-poster{
        width: 160px;
        min-height: 50px;
    }
}