.header {
    background: url('/img/header-bkg.jpg');
    background-position: center;
    border-color: $gray-bkg;
    padding: 50px 0 179px;

    @include desktop-wide {
        padding: 48px 0 363px;
    }

    @include tablet {
        padding: 50px 0 252px;
        position: relative;
    }

    @include mobile {
        padding: 50px 0 0;
        min-height: 600px;
    }




    .header__nav-list {
        display: flex;

        @include desktop-wide {
            justify-content: space-between;
            margin: 0 0 29px;
        }

        @include tablet {
            display: block;
            margin: 0 0 40px;
        }
    }




    .header__nav-wrp {
        @include flex-space-between();
        margin: 0 0 219px;

        @include desktop-wide {
            flex-direction: column;
            margin: 0 0 260px;
        }

        @include tablet {
            display: none;

            &--open {
                display: block;
                position: absolute;
                background: $dark-gray;
                top: 0;
                left: 0;
                width: 300px;
                height: 100%;
                padding: 30px 47px 30px 47px;
            }
        }
        
        @include mobile {
            display: none;
        }
    }




    .header__buger {
        display: none;

        @include tablet {
            display: block;
            padding: 0;
            background: transparent;
            border: none;
            margin: 0 0 190px;
        }

        @include mobile {
            margin: 0 0 107px;
        }
    }




    .header__close-menu-btn {
        display: none;

        @include tablet {
            display: block;
            background: transparent;
            border: none;
            padding: 0;
            margin: 30px 30px 0 238px;
        }
    }




    .header__nav-item:nth-of-type(n+2) {
        margin-left: 63px;

        @include desktop-wide {
            margin: 0;
        }

        @include tablet {
            margin: 35px 0 0;
        }
    }




    .header__nav-link {
        text-transform: uppercase;
        @include font-mixin(18px, 25px);

         @include desktop-wide {
            @include font-mixin(16px, 22px);
        }

        @include tablet {
            @include font-mixin(24px, 33px);
        }
    }




    .header__tel {
        @include font-mixin($line-height-param: 22px);
        border-bottom: 1px solid $gold;
        width: 110px;
    }




    .header__content-wrp {
        @include flex-space-between();
    }




    .header__intro {
        width: 540px;
        height: 296px;
        padding: 88px 0 0;

        @include desktop-wide {
            padding: 0;
        }

        @include tablet {
            width: 100%;
        }

        @include mobile {
            width: 511px;
            min-height: 326px;
        }
    }




    .header__title {
        @include font-mixin(64px, 87px);
        letter-spacing: 0.1em;
        text-transform: uppercase;
        margin: 0 0 50px;

        @include mobile {
            text-wrap: nowrap;
        }
    }




    .header__desc {
        font-family: $font-family;
        @include font-mixin(14px, 21px 400);
        margin: 0 0 50px;
    }




    .header__link-poster{
        width: 160px;
        min-height: 50px;

        @include desktop-wide {
            width: 175px;
        }

        @include mobile {
            width: 505px;
            min-height: 80px;
        }
    }




    .header__img {
        width: 370px;
        height: 509px;
        margin: 0 0 36px;
    }




    .header__btn-wrp {
        @include flex-space-between();
    }




    .header__slider {
        @include desktop-wide {
            display: none;
        }
    }




    .header__slider-btn{
        @include font-mixin(18px,24px);
        text-transform: uppercase;
        color: inherit;
        padding: 0;
        border: none;
        background: transparent;
    }
}
