.productions {
    padding: 119px 0 0;

    @include desktop-wide {
        padding: 78px 0 0;
    }

    @include tablet {
        padding: 90px 0 0;
    }

    @include mobile {
        padding: 26px 0 0;
    }

    .productions__title{ 
        margin: 0 0 113px;

        @include desktop-wide {
            margin: 0 0 94px;
        }

        @include tablet {
            margin: 0 0 60px;
        }

        @include mobile {
            margin: 0 0 20px;
        }
    }

    .productions__list {
        @include flex-center();
    }
    
    .productions__item-title {
        @include font-mixin(24px, 32px);
        font-family: $font-family-condensed;
        text-transform: uppercase;
        margin: 35px 0 0 34px;
        width: 100px;

        @include mobile {
            white-space: nowrap;
        }
    }

    .productions__item {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 370px;
        height: 478px;
        box-sizing: border-box;

        &--building {
            background-image: url('/img/productions1.jpg');
        }

        &--square {
            background-image: url(/img/productions2.jpg);

            @include mobile {
                display: none;
            }
        }

        &--hall {
            background-image: url(/img/productions3.jpg);

            @include desktop-wide {
                display: none;
            }
        }

        @include desktop-wide {
            width: 50%;
            min-height: 476px;
        }

        @include mobile {
            width: 100%;
        }
    }
}
