.rating {
    padding: 209px 25px 0;
    width: 1110px;
    margin: 0 auto;

    @include desktop-wide {
        padding: 125px 0 0;
        width: 100%;
    }

    .rating__wrp {
        background-image: url(/img/critics-awards-bkg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding: 126px 165px 142px;

        @include flex-space-between();

        @include desktop-wide {
            padding: 134px 134px 118px 168px;
            gap: 51px;
        }

        @include tablet {
            padding: 126px 99px 126px 99px;
            gap: 25px;
        }
    }

    .rating__year-item {
        font-family: $font-family-condensed;
        @include font-mixin(72px, 98px);
        text-transform: uppercase;
        color: $gold;
        margin: 0 0 20px;;
    }

    .rating__info {
        width: 540px;
        margin: 35px 0 0;

        @include desktop-wide {
            width: 457px;
        }
    }

    .rating__stars {
        display: flex;
        margin: 0 0 31px;
        gap: 48px;

        @include desktop-wide {
            margin: 0 0 20px;
            width: 35px;
            height: 39px;
            gap: 33px;
        }

        @include tablet {
            margin: 0 0 49px;
            width: 30px;
            height: 38px;
            gap: 29px;
        }
    }

    .rating__title {
        @include font-mixin(36px, 54px);
        letter-spacing: 2px;

        @include desktop-wide {
            @include font-mixin(34px, 51px)
        }

        @include tablet {
            @include font-mixin(29px, 44px)
        }
    }
}